.deps
Makefile
Makefile.in
autom4te.cache
aclocal.m4
build-aux
*~
config.status
configure
.deps
stamp-h1
.dirstamp
tags
config.*

gen-collation-table
allkeys_query
collation_test
utf8_to_sort_key

gnulib/lib/fcntl.h
gnulib/lib/inttypes.h
gnulib/lib/limits.h
gnulib/lib/locale.h
gnulib/lib/pthread.h
gnulib/lib/sched.h
gnulib/lib/stddef.h
gnulib/lib/stdlib.h
gnulib/lib/string.h
gnulib/lib/time.h
gnulib/lib/uchar.h
gnulib/lib/unictype.h
gnulib/lib/uninorm.h
gnulib/lib/unistd.h
gnulib/lib/unistr.h
gnulib/lib/unitypes.h
gnulib/lib/wchar.h
gnulib/lib/wctype.h

gnulib/lib/libgnu.a

