**/*~

build
**/test
**/diffs

**/Makefile
**/Makefile.in
**/aclocal.m4
**/autom4te.cache
**/config.cache
**/config.h
**/config.in
**/config.status
**/config.log
**/configure
**/stamp-h1
**/.deps
**/.dirstamp

**/*.exe
**/*.o
**/core
**/tags
**/tags.*
**/*.swp

**/test-suite.log

pre-inst-env

po/*.gmo
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
po/texinfo.pot

po_document/*.gmo
po_document/POTFILES
po_document/remove-potcdate.sed
po_document/stamp-po

gnulib/lib/charset.alias
gnulib/lib/ref-add.sed
gnulib/lib/ref-del.sed
gnulib/lib/libgnu.a
gnulib/lib/alloca.h
gnulib/lib/argz.h
gnulib/lib/configmake.h
gnulib/lib/errno.h
gnulib/lib/error.h
gnulib/lib/fcntl.h
gnulib/lib/getopt.h
gnulib/lib/inttypes.h
gnulib/lib/langinfo.h
gnulib/lib/locale.h
gnulib/lib/stdarg.h
gnulib/lib/stdbool.h
gnulib/lib/stdint.h
gnulib/lib/stdio.h
gnulib/lib/stdlib.h
gnulib/lib/string.h
gnulib/lib/strings.h
gnulib/lib/sys_stat.h
gnulib/lib/sys_time.h
gnulib/lib/sys
gnulib/lib/time.h
gnulib/lib/unistd.h
gnulib/lib/unitypes.h
gnulib/lib/uniwidth.h
gnulib/lib/wchar.h
gnulib/lib/wctype.h
gnulib/lib/math.h
gnulib/lib/stdckdint.h
gnulib/lib/stddef.h
gnulib/lib/limits.h
gnulib/lib/malloc/dynarray.gl.h 
gnulib/lib/malloc/dynarray-skeleton.gl.h
gnulib/lib/uchar.h
gnulib/lib/unicase.h
gnulib/lib/unictype.h
gnulib/lib/uninorm.h

tp/Texinfo/XS/gnulib/lib/inttypes.h
tp/Texinfo/XS/gnulib/lib/stdlib.h
tp/Texinfo/XS/gnulib/lib/unistd.h
tp/Texinfo/XS/gnulib/lib/iconv.h
tp/Texinfo/XS/gnulib/lib/stdckdint.h
tp/Texinfo/XS/gnulib/lib/uchar.h
tp/Texinfo/XS/gnulib/lib/uniconv.h
tp/Texinfo/XS/gnulib/lib/unistr.h
tp/Texinfo/XS/gnulib/lib/wctype.h


gnulib/lib/**/.dirstamp

doc/*.html
doc/*_html
doc/*.info
doc/*.info-*
doc/*.pdf
doc/*.t2p
doc/test.*

doc/info-stnd.??
doc/info-stnd.??s
doc/info-stnd.aux
doc/info-stnd.dvi
doc/info-stnd.info*
doc/info-stnd.log
doc/info-stnd.toc
doc/info-fr.aux
doc/info-fr.cp
doc/info-fr.cps
doc/info-fr.log
doc/info-fr.toc
doc/texinfo-tex-test.??
doc/texinfo-tex-test.??s
doc/texinfo-tex-test.aux
doc/texinfo-tex-test.bar
doc/texinfo-tex-test.bars
doc/texinfo-tex-test.log
doc/texinfo-tex-test.toc
doc/short-sample-ja.aux
doc/short-sample-ja.pdf
doc/short-sample-ja.??
doc/short-sample-ja.??s
doc/short-sample-ja.log
doc/short-sample-ja.toc
doc/short-sample-zh.aux
doc/short-sample-zh.pdf
doc/short-sample-zh.??
doc/short-sample-zh.??s
doc/short-sample-zh.log
doc/short-sample-zh.toc
doc/stamp-1
doc/stamp-2
doc/stamp-vti
doc/texi2any_api.??
doc/texi2any_api.??s
doc/texi2any_api.aux
doc/texi2any_api.log
doc/texi2any_api.toc
doc/texinfo.??
doc/texinfo.??s
doc/texinfo.txicmd
doc/texinfo.txicmds
doc/texinfo.aux
doc/texinfo.dvi
doc/texinfo.html
doc/texinfo.log
doc/texinfo.tex.sig
doc/texinfo.toc
doc/texinfo.xml
doc/texput.log
doc/version.texi
doc/version-stnd.texi
doc/version-texi2any_api.texi
doc/wwwtemp

doc/refcard/*.dvi
doc/refcard/*.pdf
doc/refcard/*.log
doc/refcard/*.ps

doc/tp_api/*.t2p
doc/tp_api/*.info
doc/tp_api/api_includes
doc/tp_api/texi2any_internals.pdf
doc/tp_api/texi2any_internals.texi

man/info.1
man/install-info.1
man/makeinfo.1
man/texi2dvi.1
man/texindex.1

info/doc.c
info/funs.h
info/ginfo
info/infokey
info/key.c
info/makedoc
info/pseudotty
info/t/*.log
info/t/*.trs

infog/test-infodir/**
infog/.libs/**
infog/build-aux/**
infog/infog
infog/*.la
infog/*.lo
infog/m4/**
infog/libtool

install-info/*.log
install-info/*.trs

install-info/ginstall-info
install-info/install-info

install-info/tests/*.log
install-info/tests/*.trs
install-info/tests/defs

tp/Makefile.onetst
tp/Makefile.docstr

tp/maintain/lib/libintl-perl/blib/**

tp/t/results/**/out_*
tp/t/results/**/*.new

tp/maintain/catalog.xml

tp/t/include_dir
tp/t/locales
tp/t/output_files
tp/t/*.trs
tp/t/*.log

tp/tests/*/tests.log
tp/tests/*/tests.out
tp/tests/*/diffs
tp/tests/*/out_parser
tp/tests/*/out_parser_info
tp/tests/*/out_parser_html
tp/tests/*/raw_out_parser
tp/tests/*/raw_out_parser_info
tp/tests/*/raw_out_parser_html
tp/tests/*/test_log

tp/tests/*.log
tp/tests/*.trs
tp/tests/test_scripts/*.log
tp/tests/test_scripts/*.trs
tp/tests/input_file_names_recoded_stamp.txt
tp/tests/built_input

tp/tests/many_input_files/different_encodings
tp/tests/many_input_files/different_languages_gen_master_menu
tp/tests/many_input_files/input_dir_non_ascii
tp/tests/many_input_files/output_dir_non_ascii
tp/tests/many_input_files/output_dir_file_non_ascii
tp/tests/many_input_files/tex_l2h
tp/tests/many_input_files/tex_t4ht
tp/tests/many_input_files/tex_l2h_output_dir_non_ascii
tp/tests/many_input_files/tex_t4ht_output_dir_non_ascii
tp/tests/many_input_files/raw_out
tp/tests/many_input_files/*.log
tp/tests/many_input_files/*.trs

tp/LocaleData

tp/defs
tp/makeinfo
tp/t_texis
tp/texi2any
tp/texi_sort_elements_count
tp/*.trs
tp/t/*.log
tp/tests/*.log

tp/Texinfo/Commands.pm
tp/Texinfo/ModulePath.pm
tp/Texinfo/Options.pm

tp/Texinfo/XS/*.lo
tp/Texinfo/XS/*.la
tp/Texinfo/XS/.libs

tp/Texinfo/XS/TestXS.c
tp/Texinfo/XS/MiscXS.c
tp/Texinfo/XS/XSParagraph.c
tp/Texinfo/XS/ar-lib
tp/Texinfo/XS/compile
tp/Texinfo/XS/config.guess
tp/Texinfo/XS/config.h
tp/Texinfo/XS/config.sub
tp/Texinfo/XS/config.log
tp/Texinfo/XS/depcomp
tp/Texinfo/XS/install-sh
tp/Texinfo/XS/libtool
tp/Texinfo/XS/ltmain.sh
tp/Texinfo/XS/missing
tp/Texinfo/XS/stamp-h1

tp/Texinfo/XS/gnulib/lib/.libs
tp/Texinfo/XS/gnulib/lib/*.lo
tp/Texinfo/XS/gnulib/lib/libgnu.la
tp/Texinfo/XS/gnulib/lib/unicase/*.lo
tp/Texinfo/XS/gnulib/lib/uniconv/*.lo
tp/Texinfo/XS/gnulib/lib/unictype/*.lo
tp/Texinfo/XS/gnulib/lib/uninorm/*.lo
tp/Texinfo/XS/gnulib/lib/unistr/*.lo
tp/Texinfo/XS/gnulib/lib/uniwidth/*.lo

tp/Texinfo/XS/gnulib/lib/alloca.h
tp/Texinfo/XS/gnulib/lib/limits.h
tp/Texinfo/XS/gnulib/lib/stddef.h
tp/Texinfo/XS/gnulib/lib/stdint.h
tp/Texinfo/XS/gnulib/lib/stdio.h
tp/Texinfo/XS/gnulib/lib/string.h
tp/Texinfo/XS/gnulib/lib/unicase.h
tp/Texinfo/XS/gnulib/lib/unicase/special-casing.h
tp/Texinfo/XS/gnulib/lib/unictype.h
tp/Texinfo/XS/gnulib/lib/uninorm.h
tp/Texinfo/XS/gnulib/lib/unitypes.h
tp/Texinfo/XS/gnulib/lib/uniwidth.h
tp/Texinfo/XS/gnulib/lib/wchar.h
tp/Texinfo/XS/gnulib/lib/sys/types.h

tp/Texinfo/XS/gnulib/m4/libtool.m4
tp/Texinfo/XS/gnulib/m4/ltoptions.m4
tp/Texinfo/XS/gnulib/m4/ltsugar.m4
tp/Texinfo/XS/gnulib/m4/ltversion.m4
tp/Texinfo/XS/gnulib/m4/lt~obsolete.m4

tp/Texinfo/XS/main/DocumentXS.c
tp/Texinfo/XS/main/accent_tables_8bit_codepoints.c
tp/Texinfo/XS/main/command_data.c
tp/Texinfo/XS/main/cmd_normalization.c
tp/Texinfo/XS/main/cmd_unicode.c
tp/Texinfo/XS/main/cmd_structuring.c
tp/Texinfo/XS/main/cmd_symbol.c
tp/Texinfo/XS/main/cmd_text.c
tp/Texinfo/XS/main/global_commands_types.h
tp/Texinfo/XS/main/global_multi_commands_case.c
tp/Texinfo/XS/main/global_unique_commands_case.c
tp/Texinfo/XS/main/options_get_perl.c
tp/Texinfo/XS/main/options_init_free.c
tp/Texinfo/XS/main/options_types.h

tp/Texinfo/XS/main/*.lo

tp/Texinfo/XS/structuring_transfo/StructuringTransfoXS.c

tp/Texinfo/XS/structuring_transfo/*.lo

tp/Texinfo/XS/parsetexi/Parsetexi.c
tp/Texinfo/XS/parsetexi/config.h
tp/Texinfo/XS/parsetexi/config.log
tp/Texinfo/XS/parsetexi/config.guess
tp/Texinfo/XS/parsetexi/config.in
tp/Texinfo/XS/parsetexi/config.sub
tp/Texinfo/XS/parsetexi/libtool
tp/Texinfo/XS/parsetexi/ltmain.sh
tp/Texinfo/XS/parsetexi/stamp-h1

tp/Texinfo/XS/parsetexi/.libs
tp/Texinfo/XS/parsetexi/*.la
tp/Texinfo/XS/parsetexi/*.lo

tp/Texinfo/XS/convert/ConvertXS.c
tp/Texinfo/XS/convert/IndicesXS.c

tp/Texinfo/XS/convert/.libs
tp/Texinfo/XS/convert/*.la
tp/Texinfo/XS/convert/*.lo

texindex/texindex.awk
texindex/texindex.awk.in
texindex/ti.aux
texindex/ti.??
texindex/ti.??s
texindex/ti.info
texindex/ti.log
texindex/ti.toc
texindex/ti.pdf
texindex/ti.t2p
texindex/ti.texi
texindex/texindex.info
texindex/texindex
texindex/ti.t2d
texindex/tests/*.trs
texindex/tests/*.log

util/defs

util/testSubDir
util/texindex
util/texinfo.cat
util/txixml2texi
util/*.sig

util/tests/*.trs
util/tests/*.log

contrib/perldoc-all/perl-5.*
contrib/perldoc-all/perldoc-all
contrib/perldoc-all/perldoc-all-incl.texi
contrib/perldoc-all/perldoc-all.html
contrib/perldoc-all/perldoc-all.info
contrib/perldoc-all/manual
contrib/perldoc-all/*.aux
contrib/perldoc-all/perldoc-all.??
contrib/perldoc-all/perldoc-all.???

contrib/mass_test/compare_C_HTML
contrib/mass_test/manuals
contrib/mass_test/perl_HTML_refs
contrib/mass_test/result_check_perlVSC
contrib/mass_test/www.gnu.org

js/build-aux/install-sh
js/build-aux/missing
js/examples/hello-html
js/examples/kawa-html
js/node_modules
js/package-lock.json
js/info.min.js

Pod-Simple-Texinfo/pod2texi
Pod-Simple-Texinfo/*.log
Pod-Simple-Texinfo/*.tmp
Pod-Simple-Texinfo/*.trs
Pod-Simple-Texinfo/blib
Pod-Simple-Texinfo/pm_to_blib
Pod-Simple-Texinfo/MYMETA.json
Pod-Simple-Texinfo/MYMETA.yml

# report these files so we can clean them up
!**/*val.log
