.deps
Makefile
Makefile.in
*.m4
autom4te.cache
build-aux
*~
config.status
configure
.deps
stamp-h1
.gitignore
.dirstamp
tags
config.*
allkeys.bin
allkeys_bin.c

allkeys_query
allkeys_to_binary
utf8_to_sort_key

gnulib/lib/libgnu.a

